body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Altere a cor de fundo conforme necessário */
}

h1 {
    margin-top: 50px; /* Aumentei a margem superior para movê-lo para baixo */
    font-size: 24px; /* Altere o tamanho da fonte conforme necessário */
    color: #333; /* Altere a cor do texto conforme necessário */
}

#currency-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajuste a margem superior conforme necessário */
}

label, input, button {
    margin-bottom: 10px;
}

label {
    font-size: 16px; /* Altere o tamanho da fonte do rótulo conforme necessário */
}

input {
    padding: 10px; /* Aumente ou diminua o preenchimento conforme necessário */
    width: 300px; /* Defina uma largura fixa para o input, ajustando conforme desejado */
}
#result-data {
    max-width: 90%; /* Defina um limite de largura para evitar linhas muito longas */
    font-size: 16px; /* Defina um tamanho de fonte maior */
    white-space: pre-wrap; /* Permita que o texto quebre linhas automaticamente */
    word-wrap: break-word; /* Permita que as palavras sejam quebradas se forem muito longas */
}

button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Preenchimento do botão */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Altere o tamanho da fonte do botão conforme necessário */
}

button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}
